.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  width: 96%;
  margin-top: 5%;   // Reduced margin-top
  margin-bottom: 60%;  // Reduced margin-bottom
}

.menu {
  width: 100%;
  background-color: #ffffff;
  overflow-y: auto;
  overflow-x: hidden;
}

.menuItem {
  transition: background-color 0.3s ease;
  width: 90%;
  border-bottom: 1px solid #e0e0e0;
  padding: 8px 0;  // Added vertical padding
}

.menuItem:last-child {
  border-bottom: none;
}

.menuItem:hover, .menuItem.active {
  background-color: #f5f5f5;
}

.menuLink {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 14px 20px;   // Adjusted padding
  width: 100%;
  transition: color 0.3s;
}

.menuLink i {  /* Targeting the icon in the menu link */
  margin-right: 10px;  /* Space between the icon and the text */
}

.menuLink:hover, .menuLink.active {
  color: #007BFF;
  font-weight: bold;  // Highlight active menu item
}
