<div class="container">
  <div class="logo">BudgetAPP</div>
  <div class="menu">
    <div class="menuItem"><a class="menuLink" [routerLink]="['/dashboard']"><i class="fas fa-tachometer-alt"></i> Strona główna</a></div>
    <div class="menuItem"><a class="menuLink" [routerLink]="['/history']"><i class="fas fa-history"></i> Subskrybcje</a></div>
    <div class="menuItem"><a class="menuLink" [routerLink]="['/history']"><i class="fas fa-history"></i> Transakcje</a></div>
    <div class="menuItem"><a class="menuLink" [routerLink]="['/statistics']"><i class="fas fa-university"></i> Konta bankowe</a></div>
    <div class="menuItem"><a class="menuLink" [routerLink]="['/statistics']"><i class="fas fa-coins"></i> Kryptowaluty</a></div>
    <div class="menuItem"><a class="menuLink" [routerLink]="['/statistics']"><i class="fas fa-chart-line"></i> Instrumenty giełdowe</a></div>
    <div class="menuItem"><a class="menuLink" [routerLink]="['/statistics']"><i class="fas fa-chart-pie"></i> Statystyki</a></div>
    <div class="menuItem"><a class="menuLink" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Wyloguj</a></div>
  </div>
</div>
