<div class="container">
  <div class="menu">
      <div class="menuItem"><a [routerLink]="['/dashboard']">Dashboard</a></div>
      <div class="menuItem"><a [routerLink]="['/history']">Transactions</a></div>
      <div class="menuItem"><a [routerLink]="['/statistics']">Bank accounts</a></div>
      <div class="menuItem"><a [routerLink]="['/statistics']">Cryptocurrencies</a></div>
      <div class="menuItem"><a [routerLink]="['/statistics']">Stocks</a></div>
      <div class="menuItem"><a [routerLink]="['/statistics']">Statistics</a></div>
      <div class="menuItem"><a (click)="logout()">Logout</a></div>
  </div>
</div>
