.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #214a37; /* Dark green background for the sidebar */
  color: #ffffff; /* White text color for better contrast */
}

.logo {
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  width: 100%;
  background-color: #1e4432; /* Slightly darker green for logo section */
  margin-bottom: 2%; /* Space between logo and menu items */
}

.menu {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.menuItem {
  transition: background-color 0.3s ease;
  width: 100%;
  padding: 14px 20px;
  border-bottom: 1px solid #1e4432; /* Slightly darker green for item borders */
}

.menuItem:last-child {
  border-bottom: none;
}

.menuItem:hover, .menuItem.active {
  background-color: #2e6651; /* Slightly lighter green for hover/active state */
}

.menuLink {
  color: #cfd8dc; /* Light grey for text to stand out */
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 14px 20px;
  transition: color 0.3s;
}

.menuLink i {
  margin-right: 10px; /* Space between the icon and the text */
  color: #a5b1b4; /* Light grey for icons */
}

.menuLink:hover, .menuLink.active {
  color: #ffffff; /* White color for text when active/hover */
  font-weight: bold; /* Bold for selected item */
}
