.container {
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .formButtons {
    button {
      margin: 3%;
    }
  }
}

