<div class="container">
  <form #transactionForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
    <div>
      <label for="recipient">Recipient:</label>
      <input type="text" id="recipient" name="recipient" [(ngModel)]="transaction.recipient" required>
    </div>

    <div>
      <label for="amount">Amount:</label>
      <input type="number" id="amount" name="amount" [(ngModel)]="transaction.amount" required>
    </div>

    <div>
      <label for="description">Description:</label>
      <input id="description" name="description" [(ngModel)]="transaction.description" required>
    </div>

    <div>
      <label for="paymentDate">Payment Date:</label>
      <input type="date" id="paymentDate" name="paymentDate" [(ngModel)]="transaction.paymentDate" required>
    </div>

    <div *ngIf="transaction.bankAccount">
      <label for="bankAccount">Bank account:</label>
      <select id="bankAccount" name="bankAccount" [(ngModel)]="transaction.bankAccountId"required>
        <option *ngFor="let bankAccount of budgetBankAccounts" [ngValue]="bankAccount.id">{{ bankAccount.name }}</option>
      </select>
    </div>

    <div>
      <label for="status">Status:</label>
      <select id="status" name="status" [(ngModel)]="transaction.status" required>
        <option *ngFor="let status of transactionStatuses" [value]="status">{{ transactionStatusLabels[status] }}</option>
      </select>
    </div>


    <div class="formButtons">
      <button mat-raised-button color="primary" type="submit" id="buttonSave" [disabled]="!transactionForm.valid">Save</button>
      <button mat-raised-button type="button" id="buttonCancel" (click)="onCancel()">Cancel</button>
      <button mat-raised-button color="warn" type="button" id="buttonDelete" (click)="onDelete()" *ngIf="deleteAvailable">Delete</button>
    </div>

  </form>
</div>
