<div class="container">
  <form #transactionForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-title">
      <h2>Szczegóły transakcji</h2>
    </div>

    <mat-form-field>
      <mat-label>Odbiorca</mat-label>
      <input matInput  type="text" id="recipient" name="recipient" [(ngModel)]="transaction.recipient">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Kwota</mat-label>
      <input matInput type="number" id="amount" name="amount" [(ngModel)]="transaction.amount" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Opis</mat-label>
      <input matInput id="description" name="description" [(ngModel)]="transaction.description">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Data płatnosci</mat-label>
      <input matInput type="date" id="paymentDate" name="paymentDate" [(ngModel)]="transaction.paymentDate" required>
    </mat-form-field>

    <div *ngIf="budgetBankAccounts">
      <mat-form-field>
        <mat-label>Konto bankowe</mat-label>
        <mat-select id="bankAccount" name="bankAccount" [(ngModel)]="transaction.bankAccountId" required>
          <mat-option *ngFor="let bankAccount of budgetBankAccounts" [value]="bankAccount.id">{{ bankAccount.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select id="status" name="status" [(ngModel)]="transaction.status" required>
        <mat-option *ngFor="let status of transactionStatuses" [value]="status">{{ transactionStatusLabels[status] }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="formButtons">
      <button mat-raised-button color="primary" type="submit" id="buttonSave" [disabled]="!transactionForm.valid">Zapisz</button>
      <button mat-raised-button type="button" id="buttonCancel" (click)="onCancel()">Anuluj</button>
      <button mat-raised-button color="warn" type="button" id="buttonDelete" (click)="onDelete()" *ngIf="deleteAvailable">Usuń</button>
    </div>

  </form>
</div>
