<div class="container">

  <mat-table *ngIf="bankAccounts !== undefined" [dataSource]="bankAccounts">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Account</mat-header-cell>
      <mat-cell *matCellDef="let bankAccount">{{ bankAccount.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef>Balance</mat-header-cell>
      <mat-cell *matCellDef="let bankAccount">{{ bankAccount.amount }} {{bankAccount.currency}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['name', 'amount']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['name', 'amount']"></mat-row>
  </mat-table>

</div>
